<!doctype html>
<html lang="en-us">
<head>
	<title>BAVART WELCOME</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua|Petit+Formal+Script|Marck+Script" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="homeBodyBackgroundDiv">
</div>
<br>
<h1>BAVART</h1>
<br>
<p id="homeSubtitle">Welcome to the best art auction service on the planet!</p>
<p id="homeLink">Click <a href="/register">here</a> to register</p>
<footer id="homeFooter">
	<div>
		@Copyright Bobby Frazette, Abhaya Pawar, Vanessa Otto, &amp; Adam Zamojski
	</div>
</footer>


</body>
</html>
